.msg-center-tab{
  background-color: #0084FF;
  position: fixed;
  right: 0;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 14em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  user-select: none;
  padding-right: 20px;


}
.msg-center-container{
  position: fixed;

  right: 0;
  bottom: 0;
  width: 14em;
  height: 0em;
  z-index: 500;

}

.msg-center-user-img{
  width: 40px;
  height: 40px;
  margin-top: 5px;
  border-radius: 100%;
  object-fit: cover;

}
.msg-center-header{
  color: white;
  cursor: pointer;
}
.up-caret{
  color: white;
  cursor: pointer;
}
.contacts-container{

  background-color: white;
  position: relative;
  bottom: 0;
  height: 20em;

}

.message-contacts{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  position: relative;
  bottom: 20em;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 20em;
}
.contact-wrapper{
  position: relative;

}
.contact{
  display: flex;
  align-items: center;
  color: #050505;
  cursor: pointer;
  user-select: none;

  padding-bottom: .5em;
  padding-top: .5em;
  background-color: white;
}

.contact-bottom{
  position: relative;
}
.contact-image{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
  user-select: none;
  margin-left: 10px;
}
.contacts-header{
  color: #65676B;
  font-weight: 600;
  padding: 8px;
  user-select: none;
}

.contact-name{
  padding-left: 10px;
  margin-top: 5px;
  user-select: none;
}
.latest-message-container{
color: gray;
display: flex;
font-size: 10px;
padding-bottom: 15px;
margin-left: 10px;
position: relative;
padding-top: 5px;
}

.last-message-placeholder{
margin-top: 20px;
}
.latest-message-body{
  max-width: 10em;
  margin-left: 5px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contact-underline{
  border: .1px solid rgba(120, 118, 118, 0.181) !important;
  border-width: thin medium;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  right: -100px;
  left: 0;
}
