.profile-icon{
  border-radius: 999px;
  max-width: 30px;
  height: 30px;
  margin-right: 2px;
  object-fit: cover;
}
.sidebar-container{
  /* width: 280px; */
  /* margin-left: 4em; */
  position: sticky;
  top: 5em;
  bottom: 1em;
  margin-right: ;
  /* right: 4em; */
  /* left: 3em; */
  /* border: 1px solid black; */
  /* left: 0; */
  /* right: 70.5%; */
  /* left: 0; */
}
.sidebar-container > * {
  /* margin: 10px; */
  /* margin-left: 10px; */
  margin-bottom: 5px;
  max-width: 280px;
  display: flex;
  align-items: center;
  padding: 8px;
}
.sidebar-container > div > *{
  width: 30px;
  margin-right: 10px;
}
.sidebar-to-profile{
  cursor: pointer;
  border-radius: 5px;

}
.sidebar-to-friends{
  cursor: pointer;
  border-radius: 5px;
}
.tech-used{
  border-top: 1px solid rgba(128, 128, 128, 0.348);
  color: gray;
}
.sidebar-to-profile:hover{
  background-color: #E4E6E8;
}
.sidebar-to-friends:hover{
  background-color: #E4E6E8;
}
.react > *{
  margin-right: 10px;
}
.aws > *{
  margin-right: 8px;
}
.aws-icon{
  font-size: 23px;
  color: #9D80D0;
}
.python{
  margin-left: 5px;
}
.python > *{
  margin-right: 10px;
}
.psql{
  margin-left: 2px;
}
.psql > *{
  margin-right: 4px;
}
.python-icon{
  font-size: 25px;
  color: #9D80D0;
}
@media screen and (max-width: 1000px) {
  .sidebar-container{
    display: none;
  }
}
