* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Helvetica, sans-serif;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
body{
  background-color: #F0F2F5;
}
.home-display{
  position: relative;
  margin-top: 5em;
}
