.create-comment-container{
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding-bottom: 16px;
  caret-color: transparent;
  user-select: none;
}
.comment-form{
  width: 100%;
}
.comment-form > input{
  border: none;
  outline: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #e4e6e887;
  padding: 8px 12px;
  width: 100%;
  padding-right: 100px;
  user-select: none;
  caret-color: black;

}
.comment-user-image{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 5px;
  user-select: none;
}
.comment-user-image:hover {
  -webkit-filter: brightness(90%);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}
.comment-user-image:active {
  -webkit-filter: brightness(80%);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}
.submit-comment-btn{
  color: rgba(0, 0, 255, 0.645);
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 24px;
  right: 30px;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
}
.create-comment-errors{
  color: red;
}
.create-comment-errors>li{
  text-decoration: none;
  list-style: none;
  font-size: 12px;
  margin-left: 70px;
}
