.create-comment-container{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.comment-form{
  /* width: 100%; */
  width: 100%;

}
.comment-form > input{
  border: none;
  outline: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #e4e6e887;
  padding: 8px 12px;
  width: 100%;
}
.comment-user-image{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 5px;

}
