.main-feed{
  margin-left: 8em;
  margin-right: 8em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 20px;
}
.single-post{
  background-color: white;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;

}
.single-post > *:not(.post-images, .like-comment-section){
  padding-left: 16px;
  padding-right: 16px;
}

.edit-post-button{
  cursor: pointer;
}

.edit-post-ellipsis{
  height: 100%;
  width: 5px;
  height: 5px;
  color: #65676B;
  position: absolute;
  right: 16px;
  top: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-delay: 80ms;
}
.edit-post-ellipsis:hover{
  background-color: rgba(211, 211, 211, 0.389);

  border-radius: 100%;

}
.post-user-info{
  margin-top: 16px;
  display: flex;
  align-items: center;
  user-select: none;
}
.post-user-info:last-of-type{
  margin-left: auto;
}

.post-user-image{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  object-fit: cover;
  user-select: none;
}
.post-createdat{
  font-size: 12px;
  text-decoration: none;
  list-style: none;
  color: rgb(149, 140, 140);
}
.post-content{
  width: 100%;
  word-wrap: break-word;
  margin-bottom: 15px;
  margin-top: 10px;
  padding-bottom: 10px;
  caret-color: transparent;

}
.post-images{
  padding: 0;
  margin: 0;
  max-height: max-content;
  caret-color: transparent;
}

.single-post-image{
  width: 100%;
  user-select: none;
  margin-bottom: -1px;
}


.like-comment-section{
  width: inherit;
  height: 2.4em;
  border-top: 1px solid #e4e6e8ec;
  border-bottom: 1px solid #e4e6e8ec;
  display: flex;
  align-items: center;
  justify-content: space-around;
  user-select: none;
  margin: 0 16px;
  margin-top: 1px;
}
.click-like, .click-comment{
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 1.7em;
  width: 100%;
  justify-content: center;
  border-radius: 5px;

}
.click-like:hover, .click-comment:hover{
  background-color: #e4e6e872;
}
.click-like:active{
  -webkit-filter: brightness(90%);
  -webkit-transition: all ease;
  -moz-transition: all ease;
  -o-transition: all ease;
  -ms-transition: all ease;
  transition: all ease;
  transform: scale(0.98);
}
.click-comment:active{
  -webkit-filter: brightness(90%);
  -webkit-transition: all ease;
  -moz-transition: all ease;
  -o-transition: all ease;
  -ms-transition: all ease;
  transition: all ease;
}
.like-icon-text{
  padding-top: 2px;
  margin-left: 5px;
  color: #606266;
  font-weight: 500;
  font-size: 13px;
}
.liked{
  color: blue;
  padding-top: 2px;
  margin-left: 5px;
  font-weight: 500;
  font-size: 13px;
}
.comment-icon-text{
  color: #606266;
  font-weight: 500;
  margin-left: 5px;
  font-size: 13px;
}
