.nav-container{
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  /* background-color: white; */
  /* border: 2px solid black; */
  /* width: 100%; */
  /* padding: 200px; */
  user-select: none;
  width: 100%;
}
.nav-container > ul > * {
  width: 100%;
}
.nav-list{
  /* width: 100%; */
  height: 56px;
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  /* justify-content: space-around; */
  list-style: none;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.nav-list > li > div > img{
  background-color: white;
}


.nav-container > ul > * {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.nav-left{
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.nav-left-clicked{
  /* margin-top: 2px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  /* border: 1px solid blue; */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  position: absolute;
  left: 35px;
  top: 0px;
  width: 250px;
  height: 400px;
  z-index: 1000;
  background-color: white;
}
.nav-left-clicked > input{
  background-color: blue;
  margin-top: 200px;
}
.hide-icon{
  display: none;
}

#logo{
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.search-nav{
  margin-left: 20px;
}
.search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(211, 211, 211, 0.246);
  border-radius: 999px;
  height: 40px;
}
.search-bar > *{
  padding-left: 10px;
  border-radius: 999px;
}
.search-input{
  outline: none;
  border: none;
  background-color: rgba(211, 211, 211, 0.056);
  cursor: pointer;
  padding: 20px;
}
.nav-list > li > .nav-middle{
  background-color: white;
}
.nav-middle{
  background-color: white;
  display: flex;
  flex: 1;
  justify-content: space-around;
}


.nav-right{
  display: flex;
  width: 100%;
  align-self: flex-end;
  justify-content: flex-end;
  background-color: white;
  margin-right: 15px;
}
.post-user-image:hover{
  -webkit-filter: brightness(90%);
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -ms-transition: all 200ms;
  transition: all 200ms;
}
.post-user-image:active{
  -webkit-filter: brightness(80%);
  -webkit-transition: all 50ms;
  -moz-transition: all 50ms;
  -o-transition: all 50ms;
  -ms-transition: all 50ms;
  transition: all 50ms;
  /* border: .1px solid rgba(0, 0, 0, 0); */
  /* padding: .5px; */
  transform: scale(0.97);

}
.user-list-item{
  text-decoration: none;
  list-style: none;
  color: black;
}
.user-list-item > a{
  color: black;
  text-decoration: none;
  list-style: none;
}
@media screen and (max-width: 1000px) {
  .search-bar{
    width: 40px;
  }
  .search-input{
    display: none;
  }
  .search-bar > *{
    padding-left: 0;
  }
}

/*  PROFILE DROP DOWN MENU */
.profile-dropdown{
  position: absolute;
  top: 50px;
  right: 40px;
  background-color: white;
  width: 120px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
.profile-dropdown > *:hover{
  background-color: rgba(211, 211, 211, 0.436);
}
.logout-div{
  width: 50px;
  height: 50px;
}
.profile-click{
  cursor: pointer;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.friends-click{
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-left: 5px;
}

.github-icon{
  width: 24px;
  height: 24px;
}
.linkedin-icon{
  width: 24px;
  height: 24px;
}
