.right-sidebar-container{
  width: 280px;
  user-select: none;
}
.contacts-container{
  width: 280px;
  margin-top: 5em;
  position: fixed;
  top: 0;
  right: 0;
}
.contact{
  display: flex;
  align-items: center;
  color: #050505;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px;
  user-select: none;
}
.contact:hover{
  background-color: #E4E6E8;

}
.contact-name{
  padding-left: 10px;
  user-select: none;
}

.contacts-header{
  color: #65676B;
  font-weight: 600;
  padding: 8px;
  user-select: none;
}

.contact-image{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  object-fit: cover;
  user-select: none;
}

@media screen and (max-width: 1000px) {
  .contacts-container{
    display: none;
  }
}
