.profile-container{
  max-width: 100vw;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  /* height: 90vh; */

}
.profile-top{
  /* position: relative; */
  /* margin: 0 auto; */
  max-height: 500px;
}
.profile-image{
  width: 168px;
  height: 168px;
  border-radius: 100%;
  border: 5px solid white;

}
.cover-photo-container{
  width: 940px;
  height: 348px;
  background-image: url("https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg");
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.user-profile-header{
  /* margin: 0 auto; */
  display: flex;
  position: relative;
  /* top: 30px; */
  /* left: 20px; */
  /* width: 100%; */

  /* align-items: center; */

  /* top: 0; */
}
.users-name-image{
  width: 100%;
  position: absolute;
  top: -40px;
  left: 40px;
}
.profile-top-underline{
  border-bottom: 1px solid #96989bdc;
  width: 100%;
  /* border: 10px solid black; */
  position: absolute;
  top: 150px;

}
/* .user-profile-header::after{
  width: 10px;
  height: 10px;
  background-color: blue;
} */
.profile-users-name{
  /* margin-top: 50px; */
  /* margin-left: 10px; */
  font-size: 32px;
  position: absolute;
  top: 20px;
  left: 220px;
}
.profile-body{
  text-align: center;
  width: 200px;
  height: 30px;
  /* position: absolute; */
  /* background-color: blue; */
  margin: 170px auto 0;
  font-weight: 700;
}

.friend-request-btn{
  border: 1px solid black;
  width: 100px;
  text-align: center;
  background-color: rgba(0, 26, 255, 0.587);
  cursor: pointer;
}
