.profile-icon{
  border-radius: 999px;
  max-width: 30px;
  height: 30px;
  margin-right: 2px;
  object-fit: cover;
}
.sidebar-container{
  width: 280px;
  margin-left: 8px;
  position: fixed;
}
.sidebar-container > * {
  /* margin: 10px; */
  /* margin-left: 10px; */
  margin-bottom: 5px;
  max-width: 280px;
  display: flex;
  align-items: center;
  padding: 8px;
}
.sidebar-container > div > *{
  width: 30px;
  margin-right: 10px;

}
@media screen and (max-width: 1100px) {
  .sidebar-container{
    display: none;
  }
}
