.logout-btn{
  cursor: pointer;
  border: none;
  background-color: white;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 100%;
  text-align: left;
  font-size: 16px;
    border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
