.signup-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* height: 454px; */
  min-height: 454px;
  width: 432px;
  margin: 0 auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.signup-form>input{
  /* background-color: blue; */
  width: 399px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #F5F6F7;
  margin-top: 16px;
  border: 1px solid #CCD0D5;
}
.first-last-signup{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;

}
.first-last-signup > input{
  width: 190px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #F5F6F7;


}
.signup-header{
  border-bottom: 1px solid lightgray;
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  /* justify-content: center; */
}
.signup-header > p{
  color: gray;
}
.signup-header > h1{
  margin-bottom: 5px;
}

.signup-form-btn{
  background-color: #00A400;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 36px;
  width: 192px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

/* Modal Styles */
.signup-div{
  border-top: 1px solid rgba(211, 211, 211, 0.543);
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  max-width: 298px;
}
.signup-div > *{
  background-color: #42B72A;
  color: white;
  text-decoration: none;
  font-weight: 700;
  width: 192px;
  text-align: center;
  height: 48px;
  border-radius: 5px;
  margin-top: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.signup-div >:hover{
  background-color: #36A420;
}
.cancel-signup{
  position: absolute;
  top: 20px;
  right: 16px;
  cursor: pointer;
}
.all-errors{
  color: red;
  font-size: 16px;
  text-align: center;
}
