.one-comment{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}
.full-comment{
  background-color: #F0F2F5;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  font-size: smaller;
  /* max-width: fit-content; */
  max-width: 385px;
}
.comment-text{
  margin-top: 5px;
}
.edit-comment-div{
  /* display: flex; */
}
.edit-comment-ellipsis{
  color: #65676B;
  margin-left: 5px;
  padding: 10px;
  cursor: pointer;
}
.edit-comment-ellipsis:hover{
  background-color: rgba(211, 211, 211, 0.389);

  border-radius: 100%;

}
.view-comment-text{
  color: #65676B;
  cursor: pointer;
  margin-bottom: 10px;
}
.collapse-comments{
  color: #65676B;
  cursor: pointer;
  margin-bottom: 10px;
}
.view-comment-text:hover{
  text-decoration: underline;
}
.collapse-comments:hover{
  text-decoration: underline;
}
