.one-comment{
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  margin-top: 10px;
}
.full-comment{
  background-color: #F0F2F5;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  padding-top: 5px;
  font-size: smaller;
  /* max-width: fit-content; */
  max-width: 385px;
  /* border: 2px solid black; */
  position: relative;
}
.comment-text{
  margin-top: 5px;
  line-height: 18px;
  word-wrap: break-word;
}
.edit-comment-div{
  /* display: flex; */
}
.edit-comment-ellipsis{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #65676B;
  margin-left: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.edit-comment-ellipsis:hover{
  background-color: rgba(211, 211, 211, 0.212);
  /* padding: 10px; */

  border-radius: 100%;

}
.view-comment-text{
  color: #65676B;
  cursor: pointer;
  margin-bottom: 15px;
}
.collapse-comments{
  color: #65676B;
  cursor: pointer;
  margin-bottom: 15px;
}
.view-comment-text:hover{
  text-decoration: underline;
}
.collapse-comments:hover{
  text-decoration: underline;
}
